<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">My Social Media Platform</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <ng-container><!--*ngIf = "!isLoggedIn"-->
            <li class="nav-item active">
                <a class="btn btn-outline-primary rounded-pill" >Login </a>
              </li>
              <li class="nav-item">
                <a class="btn btn-outline-primary rounded-pill" >Register</a>
              </li>
          </ng-container>
          <!-- <ng-container *ngIf="isLoggedIn">
             FirstName + LAst Name 
             Display Logout Button 
            <li class="nav-item active">
                <a class="btn btn-outline-danger rounded-pill">Logout </a>
            </li>
        </ng-container> -->

      </ul>
      
    </div>
  </nav>