<div class="container">

    <div *ngIf="invalidPost" class="alert alert-danger">
        Invalid Post format. Please try again
    </div>

    <form (ngSubmit)="postSubmit()" #postForm="ngForm">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" [(ngModel)]="post.title">
        </div>
        <div class="form-group">
            <label for="username">username</label>
            <input type="text" class="form-control" id="username" name="username" [(ngModel)]="post.username">
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <input type="text" class="form-control" id="content" name="content" [(ngModel)]="post.content">
        </div>

        <input class="btn btn-primary" type="submit" value="Post">
    </form>
</div>